<div class="container">
    <h3>Update Project</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title :</label>
            <input type="text" class="form-control" required [(ngModel)]="project.title" name="title" disabled>
        </div>

        <div class="form-group">
            <label for="title">Status :</label>
            <label class="container1">Active
                <input type="radio" id="active"  name="active" required [(ngModel)]="project.status" value="Active" >
                <span class="checkmark"></span>
              </label>
              
              <label class="container1">Occupied
                <input type="radio" id="occupied" required [(ngModel)]="project.status" name="Occupied" value="Occupied">
               
              </label>
              
              <label class="container1">Pipe
                <input type="radio" id="pipe" required [(ngModel)]="project.status" name="Pipe" value="Pipe">
               
              </label>
              
              <label class="container1">Archived
                <input type="radio" id="archived" required [(ngModel)]="project.status" name="Archived" value="Archived">
                
              </label>
        </div>

        <div class="form-group">
            <label for="title">Start Date :</label>
            <input type="date" class="form-control" required [(ngModel)]="project.startDate" name="start_date">
        </div>

        <div class="form-group">
            <label for="title">End Date :</label>
            <input type="date" class="form-control" required [(ngModel)]="project.endDate" name="end_date">
        </div>

        <div class="form-group">
            <label for="title">Win Chance :</label>
            <input type="number" class="form-control" required [(ngModel)]="project.winChance" name="win_chance">
        </div>

        <div class="form-group">
            <label for="title">No. Of Resources :</label>
            <input type="number" class="form-control" required [(ngModel)]="project.noOfResources" name="noOfResources">
        </div>

        <div class="form-group">
            <label for="title">BL :</label>
            <input type="text" class="form-control" required [(ngModel)]="project.bl" name="bl">
        </div>

        <td><button type="submit" class="btn btn-success">Update</button></td>
    </form>
    <button id="cancelButton" [routerLink]="['/project']" class="btn btn-danger" >Cancel</button>
    <div>
</div>
</div>
