<div style="text-align: center;">
  <h1>
    Project and Resource Planning System
  </h1>
</div>
<nav>
  <a [routerLink]="['/project']" routerLinkActive="router-link-active">Projects</a> &nbsp;
  <a [routerLink]="['/resources']" routerLinkActive="router-link-active">Resources</a>&nbsp;
  <a [routerLink]="['/maintechnologies']" routerLinkActive="router-link-active">Main Technologies</a>&nbsp;
  <a [routerLink]="['/assignments']" routerLinkActive="router-link-active">Dashboard</a> 
</nav>
<router-outlet></router-outlet>