
<div class="container">
    <h3>Add a new Resource</h3>
    <form #addprojectForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Last Name :</label>
            <input type="text" class="form-control" required [(ngModel)]="resource.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="title">First Name :</label>
            <input type="text" class="form-control" required [(ngModel)]="resource.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="title">Visa :</label>
            <input type="text" class="form-control" required [(ngModel)]="resource.visa" name="visa">
        </div>

        <div class="form-group">
            <label for="title">Status :</label>
            <label class="container1">Active
                <input type="radio" id="active"  name="active" required [(ngModel)]="resource.status" value="Active" ng-checked="true">
                <span class="checkmark"></span>
              </label>
              
              <label class="container1">Inactive
                <input type="radio" id="not-active" required [(ngModel)]="resource.status" name="Not-Active" value="Not-Active">
              </label>
          
        </div>

        <div class="form-group">
            <label for="title">Factory :</label>
            <input type="text" class="form-control" required [(ngModel)]="resource.factory" name="factory">
        </div>

        <div class="form-group">
            <label for="title">Profile :</label>
            <input type="text" class="form-control" required [(ngModel)]="resource.profile" name="profile">
        </div>

        <div class="form-group">
            <label for="title">Level :</label>
            <input type="number" class="form-control" required [(ngModel)]="resource.level" name="level">
        </div>

       
        <td><button type="submit" id="submitButton" class="btn btn-success">Add</button></td>
    </form>

    <button id="cancelButton" [routerLink]="['/resource']" class="btn btn-danger" >Cancel</button>
    <div>
        
 
</div>
</div>


