<div class="container">
    <h3>List of Main Technologies</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mainTechnology of mainTechnologies">
          <td>{{mainTechnology.mainTechnologyName}}</td>
          <td>
            <button  class="btn btn-info btn-xs" (click)="delete(mainTechnology.mainTechnologyId)">Delete</button> &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <td><button type="button" class="btn btn-success btn-sm" (click)="goToAddMaintechnology()">Add new </button></td>

  </div>
